#root{
    --colorPrimary:#ff352e;
    --hoverColorPrimary:#fddbda;
}

.record__pagination{
    background: white;
    margin: 0 !important;
    padding: 12px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    justify-content: center !important;
  }
  .record__pagination .ant-pagination-item-active{
    background-color: #ff0505;
  }
  .record__pagination .ant-pagination-item-active:hover a{
    color: white;
  }
  .record__pagination .ant-pagination-item-active a{
    color: white;
  }

